body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.main{
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-image: url("wallpaper_pc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3%
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: aliceblue;
  padding: 2%;
  border-radius: 15px;
}

input[type="text"] {
  border-radius: 0;
  text-transform: capitalize;
  width: 90%;
  height: 30px;
}

.capitalize-first{
  text-transform: capitalize;
}

button {
  width: 80px;
  background-color: #e9c4c4;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}


h2 {
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonAdd{
  height: 40px;
  width: 60px;
  cursor: pointer;
  background-image: none;
  border:2px solid #000000;

}

